/* */
/* HEADER CONTAINER */

header.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 9999;
  background-color: var(--system-light);
  border-bottom: 1px solid var(--system-border);
  box-shadow: var(--box-shadow);
  overflow-x: scroll;
}

header.header container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

/* header.header container *:last-child {
  padding-right: 30px;
} */

@media only screen and (max-width: 900px /* var(--mobile) */) {
  header.header container {
    display: flex;
    flex-direction: row;
  }
}

/* */
/* LOGO */

.logo a,
.logo a:hover {
  display: block;
  font-family: var(--font-family-monospace);
  font-weight: bold;
  font-size: 18pt;
  text-align: left;
  text-decoration: none;
}

/* */
/* NAVIGATION */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navigation a {
  font-size: 15pt;
  color: var(--system-dark);
}

.navigation a:hover {
  text-decoration: underline;
}

/* */
/* NAVIGATION */

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right a {
  display: flex;
}

.right path {
  fill: var(--system-text);
}
