/* */
/* HEADER CONTAINER */

@media only screen and (max-width: 900px /* var(--mobile) */) {
  header.header container {
    display: flex;
    flex-direction: row;
  }
}

/* */
/* NAVIGATION */

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.navigation a {
  font-size: 15pt;
  color: var(--system-dark);
}

.navigation a:hover {
  text-decoration: underline;
}

/* */
/* NAVIGATION */

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.right a {
  display: flex;
}

.right path {
  fill: var(--system-text);
}
