/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
}

@media only screen and (width <= 900px) {
	.container {
		display: none;
	}
}

/* * */
/* NAV LINK */

.navLink {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	color: var(--palette-text-200);
}
