/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
	padding: 15px 0;
}

@media only screen and (width <= 900px) {
	.container {
		display: none;
	}
}

/* * */
/* NAV LINK */

.navLink {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-lg);
	color: var(--theme-text-200);
}
