/* */
/* INDEX */

section.intro {
  background-color: var(--system-background);
}

section.intro h1 {
  max-width: 400px;
}

section.items container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

section.items container a.work {
  display: block;
  padding: 25px 35px;
  color: inherit;
  background-color: var(--system-background);
  border-radius: var(--border-radius-large);
  transition: all 300ms ease;
}

section.items container a.work:hover {
  text-decoration: none;
  background-color: var(--theme-green-alpha);
}

section.items container a.work h2 {
  margin-bottom: 15px;
  color: #2f750f;
}

section.items container a.work h3 {
  margin-bottom: 20px;
  font-size: 25px;
}

section.items container a.work .credits {
  margin-top: 15px;
  font-size: 15px;
  color: var(--system-muted);
}

/* */
/* FLIPPED CLASSROOMS */

section.flippedClassroom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  justify-content: start;
}

section.flippedClassroom container.player video {
  width: 100%;
  border: 1px solid var(--system-border);
}

section.flippedClassroom container.info p,
section.flippedClassroom container.info a {
  display: block;
  margin: 10px 0;
  font-size: 15px;
  font-weight: var(--font-weight);
}

section.flippedClassroom container.info .title,
section.flippedClassroom container.info .credits {
  margin: 5px 0;
  font-size: 15px;
  font-weight: var(--font-weight-bold);
}
