section.initialBanner {
  background-color: var(--palette-green-alpha);
  padding: 60px;
  text-align: center;
}

section.initialBanner h1 {
  font-weight: var(--font-weight-bold);
  font-size: 40px;
  color: var(--palette-green);
}

section.redirecting {
  padding: 150px 60px;
  text-align: center;
}
