/* * */
/* WRAPPER */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

/* * */
/* CONTACT */

.contact {
  padding: 30px;
  background-color: var(--system-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius-large);
}

/* * */
/* CONTACT ICON */

.contact path {
  fill: var(--system-text);
}

/* * */
/* CONTACT TITLE */

.contactTitle {
  font-size: 25px;
  font-weight: var(--font-weight-bold);
  color: var(--system-text);
}

/* * */
/* CONTACT MESSAGE */

.contactMessage {
  font-size: 18px;
  color: var(--system-text);
  margin-top: 10px;
}

/* * */
/* CONTACT DISCLAIMER */

.contactDisclaimer {
  font-size: 12px;
  color: var(--system-muted);
  margin-top: 10px;
  line-height: 1;
}
