/* * */
/* COMET */

:root {
	--theme-comet-accent: rgb(255 110 45);
	--theme-comet-text-100: rgb(220 70 0);
	--theme-comet-text-200: rgb(250 120 70);
	--theme-comet-background-100: rgb(255 255 255);
	--theme-comet-background-200: rgb(255 245 240);
	--theme-comet-border-100: rgb(255 110 45 / 25%);
	--theme-comet-border-200: rgb(255 110 45 / 25%);
	--theme-comet-shadow-100: rgb(0 0 0 / 0%);
	--theme-comet-shadow-200: rgb(0 0 0 / 0%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-comet-accent: rgb(255 95 20);
		--theme-comet-text-100: rgb(255 200 180);
		--theme-comet-text-200: rgb(240 90 60);
		--theme-comet-background-100: rgb(100 30 0);
		--theme-comet-background-200: rgb(75 20 0);
		--theme-comet-border-100: rgb(255 255 255 / 20%);
		--theme-comet-border-200: rgb(255 255 255 / 20%);
		--theme-comet-shadow-100: rgb(0 0 0 / 0%);
		--theme-comet-shadow-200: rgb(0 0 0 / 0%);
  }
}


/* * */

:root[data-theme="comet"] {
	--theme-accent:  var(--theme-comet-accent);
	--theme-text-100: var(--theme-comet-text-100);
	--theme-text-200: var(--theme-comet-text-200);
	--theme-background-100: var(--theme-comet-background-100);
	--theme-background-200: var(--theme-comet-background-200);
	--theme-border-100: var(--theme-comet-border-100);
	--theme-border-200: var(--theme-comet-border-200);
	--theme-shadow-100: var(--theme-comet-shadow-100);
	--theme-shadow-200: var(--theme-comet-shadow-200);
}