/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: var(--max-width-md);
}

@media only screen and (width <= 900px) {
	.innerWrapper {
		flex-direction: column;
		text-align: center;
	}
}

/* * */
/* LINKEDIN */

.linkedin {
	margin-top: 50px;
}
