/* * */
/* CONTAINER */

.container {
  background-color: var(--system-background);
}

/* * */
/* HEADING */

.heading {
  color: var(--palette-blue);
  margin-bottom: 15px;
}

.heading::selection {
  background-color: var(--palette-blue);
}

/* * */
/* PARAGRAPH */

.paragraph {
  max-width: 950px;
}
