/* * */
/* CONTAINER */

.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-decoration: none;
  transition: var(--transition);
  color: var(--system-muted);
  border-color: var(--system-muted);
  background-color: var(--system-background);
}

.container:hover {
  padding-top: 65px;
  padding-bottom: 65px;
  text-decoration: none;
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
  background-color: var(--accent-color);
}

/* * */
/* INFO WRAPPER */

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

/* * */
/* TITLE */

.title,
.title:hover {
  font-size: 26px;
  color: inherit;
}

/* * */
/* TAGS LIST */

.tagsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
