/* * */
/* INNER WRAPPER */

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 50px;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

@media only screen and (max-width: 900px) {
  .innerWrapper {
    padding: 0 25px;
  }
}
