/* * */
/* CONTAINER */

.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: baseline;
	width: 100%;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: var(--palette-text-100);
	border-bottom: 1px solid var(--palette-border-100);
}

.container:hover {
	text-decoration: none;
}

.container:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
	border-bottom: none;
}

/* * */
/* PUBLISHED AT */

.publishedAt {
	font-size: 14px;
	font-weight: 500;
	color: var(--palette-accent);
	text-transform: uppercase;
}

/* * */
/* TITLE */

.title {
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	color: var(--palette-text-100);
}

.container:hover .title {
	text-decoration: underline;
}