/* * */
/* LOGO */

.logo {
	display: flex;
	font-family: var(--font-family-monospace);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-lg);
	text-align: left;
}

.logo:hover {
	text-decoration: none;
}
