/* * */
/* IMAGE */

.image {
  width: 100%;
  height: auto;
}

/* * */
/* WITH SHADOW */

.withShadow {
  box-shadow: var(--box-shadow-large);
}

/* * */
/* WITH FALSE WIDTH */

.withFalseWidth {
  width: 108%;
  margin-left: -4%;
}
