/* * */
/* CONTAINER */

.container {
  background-color: var(--theme-green-alpha);
}

/* * */
/* HEADING */

.heading {
  width: 100%;
  color: var(--theme-green);
  text-align: center;
}

.heading::selection {
  background-color: var(--theme-green);
}
