/* * */
/* CONTAINER */

.container {
  background-color: var(--palette-green-alpha);
}

/* * */
/* HEADING */

.heading {
  width: 100%;
  text-align: center;
  color: var(--palette-green);
}

.heading::selection {
  background-color: var(--palette-green);
}
