.intro {
  padding: 80px 0;
}

.intro h1 {
  color: var(--palette-blue);
}

.intro p {
  max-width: 900px;
}

section.videoSection {
  padding: 80px 0;
}

section.videoSection .videoInfo {
  max-width: 600px;
}

section.videoSection h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}

section.videoSection .credits {
  margin-top: 15px;
  font-size: 15px;
}

section.videoSection .source {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  font-weight: var(--font-weight);
}
