/* * */
/* CONTAINER */

.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 4px 15px 4px 12px;
  color: var(--system-muted);
  background-color: var(--system-background);
  border: 1px solid var(--system-muted);
  border-radius: var(--border-radius-pill);
  transition: var(--transition);
}

/* * */
/* LABEL */

.label {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
}
