/* * */
/* CONTACTS LIST */

.contactsList {
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: flex-start;
	justify-content: flex-start;
}

/* * */
/* CONTACT */

.contact {
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: 600;
	color: var(--theme-text-200);
}

/* * */
/* DISCLAIMER */

.disclaimer {
	max-width: var(--max-width-xs);
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	color: var(--theme-text-200);
}