/* * */
/* CONTAINER */

.container {
  display: flex;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: var(--system-background);
  border: 1px solid var(--system-border);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow-large);
}

/* * */
/* IFRAME */

.iFrame {
  width: 100%;
  height: 100%;
  border: none;
}
