/* * */
/* BODY */

body {
	margin-top: 50px;
	background-color: var(--palette-background-100);
}

/* * */
/* ANCHORS */

a {
	font-size: 18px;
	font-weight: var(--font-weight-bold);
	line-height: 1.6;
	color: var(--palette-accent);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a::selection {
	color: var(--palette-text-100);
	background-color: var(--palette-accent);
}

/* * */
/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-bold);
	line-height: 1.2;
	color: var(--palette-text-100);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
	color: var(--palette-background-100);
	background-color: var(--palette-text-100);
}

/* * */
/* HEADINGS (MAIN TITLES) */

h1,
h2 {
	font-size: 40px;
}

@media only screen and (width <= 900px) {
	h1,
	h2 {
		font-size: 35px;
	}
}

/* * */
/* PARAGRAPHS */

p {
	font-size: 18px;
	font-weight: var(--font-weight);
	line-height: 1.6;
	color: var(--palette-text-100);
}

p::selection {
	color: var(--palette-background-100);
	background-color: var(--palette-text-100);
}
