/* * */
/* COLORS > LIGHT */

:root {

	/* * */

	--palette-a-accent: rgb(80 120 230);
	--palette-a-text-100: rgb(255 255 255 / 75%);
	--palette-a-text-200: rgb(70 90 125);
	--palette-a-background-100: rgb(30 40 65);
	--palette-a-background-200: rgb(20 30 50);
	--palette-a-border-100: rgb(255 255 255 / 10%);
	--palette-a-border-200: rgb(255 255 255 / 10%);
	--palette-a-shadow-100: rgb(0 0 0 / 5%);
	--palette-a-shadow-200: rgb(0 0 0 / 5%);

	/* * */

	--palette-a2-accent: rgb(40 60 155);
	--palette-a2-text-100: rgb(75 90 110);
	--palette-a2-text-200: rgb(100 120 150);
	--palette-a2-background-100: rgb(240 245 255);
	--palette-a2-background-200: rgb(220 235 255);
	--palette-a2-border-100: rgb(255 255 255 / 10%);
	--palette-a2-border-200: rgb(255 255 255 / 10%);
	--palette-a2-shadow-100: rgb(0 0 0 / 0%);
	--palette-a2-shadow-200: rgb(0 0 0 / 0%);

	/* * */

	--palette-b-accent: rgb(40 155 65);
	--palette-b-text-100: rgb(115 165 130);
	--palette-b-text-200: rgb(50 90 70);
	--palette-b-background-100: rgb(5 45 15);
	--palette-b-background-200: rgb(0 40 10);
	--palette-b-border-100: rgb(255 255 255 / 10%);
	--palette-b-border-200: rgb(255 255 255 / 10%);
	--palette-b-shadow-100: rgb(0 0 0 / 0%);
	--palette-b-shadow-200: rgb(0 0 0 / 0%);

	/* * */

	--palette-c-accent: rgb(200 50 0);
	--palette-c-text-100: rgb(240 125 125);
	--palette-c-text-200: rgb(190 85 85);
	--palette-c-background-100: rgb(85 15 15);
	--palette-c-background-200: rgb(70 0 0);
	--palette-c-border-100: rgb(255 255 255 / 20%);
	--palette-c-border-200: rgb(255 255 255 / 20%);
	--palette-c-shadow-100: rgb(0 0 0 / 0%);
	--palette-c-shadow-200: rgb(0 0 0 / 0%);

	/* * */

	--palette-accent:  var(--palette-a-accent);
	--palette-text-100: var(--palette-a-text-100);
	--palette-text-200: var(--palette-a-text-200);
	--palette-background-100: var(--palette-a-background-100);
	--palette-background-200: var(--palette-a-background-200);
	--palette-border-100: var(--palette-a-border-100);
	--palette-border-200: var(--palette-a-border-200);
	--palette-shadow-100: var(--palette-a-shadow-100);
	--palette-shadow-200: var(--palette-a-shadow-200);

	/* * */

	--max-width-xs: 400px;
	--max-width-sm: 600px;
	--max-width-md: 800px;
	--max-width-lg: 1200px;

	/* * */

	--border-radius-sm: 5px;
	--border-radius-md: 8px;
	--border-radius-pill: 999px;

	/* * */

  --palette-blue: rgb(0 115 215);
  --palette-blue-alpha: rgb(235 245 255);
  --palette-green: rgb(0 175 60);
  --palette-green-alpha: rgb(235 250 235);
  --palette-yellow: rgb(255 232 0 / 100%);
  --palette-yellow-alpha: rgb(255 232 0 / 5%);
  --palette-orange: rgb(255 110 45);
  --palette-orange-alpha: rgb(255 252 240);
  --system-light: rgb(255 255 255 / 100%);
  --system-dark: rgb(0 0 0 / 100%);
  --system-muted: rgb(105 125 145 / 100%);
  --system-link: rgb(15 110 195 / 100%);

  /* * */
/* FONTS */

--font-family: var(--font-work-sans), sans-serif;
  --font-family-monospace: 'Menlo', monospace;
  --font-weight: 400;
  --font-weight-bold: 700;
  --box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  --box-shadow-large: 0 3px 25px 0 rgb(0 0 0 / 5%);
  --transition: all 300ms ease;


}

/* * */
/* COLORS > DARK */

@media (prefers-color-scheme: dark) {
  :root {
    --palette-blue: rgb(0 150 255);
    --palette-blue-alpha: rgb(0 35 80);
    --palette-green: rgb(0 175 60);
    --palette-green-alpha: rgb(35 50 35);
    --palette-yellow: rgb(0 91 170);
    --palette-yellow-alpha: rgb(255 232 0 / 5%);
    --palette-orange: rgb(255 95 20);
    --palette-orange-alpha: rgb(45 30 15);
    --system-light: rgb(30 30 30);
    --system-dark: rgb(210 210 225 / 100%);
    --system-background: rgb(20 20 20);
    --system-border: rgb(50 60 60);
    --system-text: rgb(210 210 225 / 100%);
    --system-muted: rgb(100 105 115);
    --system-link: rgb(15 125 225);
  }
}



/* * */
/* TOGGLE HTML ELEMENTS */

@media (prefers-color-scheme: dark) {
  theme-light {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  theme-dark {
    display: none;
  }
}

/* * */
/* TOGGLE HTML ELEMENTS */

@media only screen and (width <= 900px) {
  only-desktop {
    display: none;
  }
}

@media only screen and (width >= 901px) {
  only-mobile {
    display: none;
  }
}
