/* * */
/* INNER WRAPPER */

.innerWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	max-width: var(--max-width-lg);
	padding: 0 50px;
	margin: auto;
}

@media only screen and (width <= 900px) {
	.innerWrapper {
		padding: 0 25px;
	}
}
