:root {
  --palette-blue: rgba(15, 110, 195, 1);
  --palette-green: rgba(15, 155, 70, 1);
  --system-background: rgba(250, 250, 250, 1);
  --system-border: rgba(85, 95, 105, 1);
  --system-muted: rgba(105, 125, 145, 1);
  --system-light: rgba(205, 210, 215, 1);
  --system-link: rgba(15, 110, 195, 1);
  --system-text: rgba(30, 30, 35, 1);
}
