:root {
  --palette-blue: rgb(0, 115, 215);
  --palette-blue-alpha: rgb(235, 245, 255);

  --palette-green: rgb(0, 175, 60);
  --palette-green-alpha: rgb(235, 250, 235);

  --palette-yellow: rgba(255, 232, 0, 1);
  --palette-yellow-alpha: rgba(255, 232, 0, 0.05);

  --palette-orange: rgb(255, 110, 45);
  --palette-orange-alpha: rgb(255, 252, 240);

  --system-light: rgba(255, 255, 255, 1);
  --system-dark: rgba(0, 0, 0, 1);

  --system-background: rgba(247, 247, 247, 1);
  --system-border: rgba(205, 205, 205, 1);

  --system-text: rgba(30, 30, 35, 1);
  --system-muted: rgba(105, 125, 145, 1);
  --system-link: rgba(15, 110, 195, 1);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --palette-blue: rgb(0, 150, 255);
    --palette-blue-alpha: rgb(0, 35, 80);

    --palette-green: rgb(0, 175, 60);
    --palette-green-alpha: rgb(35, 50, 35);

    --palette-yellow: rgb(0, 91, 170);
    --palette-yellow-alpha: rgba(255, 232, 0, 0.05);

    --palette-orange: rgb(255, 95, 20);
    --palette-orange-alpha: rgb(45, 30, 15);

    --system-light: rgb(30, 30, 30);
    --system-dark: rgba(210, 210, 225, 1);

    --system-background: rgb(20, 20, 20);
    --system-border: rgb(50, 60, 60);

    --system-text: rgba(210, 210, 225, 1);
    --system-muted: rgb(100, 105, 115);
    --system-link: rgb(15, 125, 225);
  }
}
