/* Fonts and spacing for fixed header */
body {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background-color: var(--system-light);
}

section {
  padding: 80px 0;
}

container {
  display: block;
  width: 100%;
}

/* Links */
a {
  color: var(--system-link);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Titles and Paragraphs */
h1,
h2 {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  color: var(--system-dark);
  margin-bottom: 25px;
}

h3,
h4,
h5,
h6 {
  color: var(--system-text);
}

p {
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 1.7;
  color: var(--system-text);
  margin-top: 5px;
  margin-bottom: 10px;
}
