/* Fonts and spacing for fixed header */

body {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  background: var(--system-light);
}
@media (prefers-color-scheme: dark) {
  body {
    background: var(--system-light);
  }
}

/* Links */
a {
  color: var(--system-link);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

/* Titles and Paragraphs */
h1,
h2 {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  color: var(--system-dark);
  margin-bottom: 25px;
  line-height: 1.2;
}

h3,
h4,
h5,
h6 {
  color: var(--system-text);
}

p {
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 1.6;
  color: var(--system-text);
  margin-top: 5px;
  margin-bottom: 10px;
}

/* MOBILE STYLES */
@media only screen and (max-width: 900px /* var(--mobile) */) {
  h1,
  h2 {
    font-size: 35px;
  }

  p,
  a {
    font-size: 20px;
  }
}
