/* Fonts and spacing for fixed header */
body {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

/* Links */
a {
  color: var(--system-link);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Titles and Paragraphs */
h1,
h2 {
  font-size: 40px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 25px;
}

p {
  font-size: 18px;
  font-weight: var(--font-weight);
  color: var(--system-text);
  margin-top: 5px;
  margin-bottom: 10px;
}
