:root {
  /* Horizontal Width */
  --max-width: 1200px;
  --horizontal-spacing: 50px;
}

container {
  display: block;
  max-width: var(--max-width);
  margin: auto;
  padding-left: var(--horizontal-spacing);
  padding-right: var(--horizontal-spacing);
}
